<h2>Upload Products</h2>

<form action="/shops/products" method="POST" enctype="multipart/form-data">
    <input name="file" type="file" class="inputfile" id="file">
    <label for="file" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Select file</label>
    <button type="submit" name="file_upload" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="material-icons">file_upload</i> Upload</button>
</form>
